<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
    <package name="com.lyp.model"/>
</typeAliases>
    <mappers>
        <mapper class="com.lyp.dao.UserDao"/>
        <mapper class="com.lyp.dao.EquipmentDao"/>
    </mappers>
</configuration>
